@mixin clearfix {
  &:before, &:after { content: ""; display: table; }
  &:after { clear: both; }
  zoom: 1;
}

@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

/* HTML5  Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */

body {
  color: #513184;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Segoe UI', 'Droid Sans', sans-serif;
}

#container {
  max-width: 945px;
  margin: 0 auto;
}

header {
  p.title {
    text-align: center;
    font-size: 1.5em;
    margin: 0.6em 0 0 0;
  }

  nav {
    ul {
      text-align: center;
      font-size: 0.8em;
      color: #735A9C;
      margin-bottom: 1.5em;

      li {
        display: inline;
        &:before {
          content: ' | ';
        }
        &:first-child:before {
          content: '';
        }

        a {
          padding: 0 0.1em;
          color: #735A9C;
          text-decoration: none;

          &:hover {
            color: #735A9C;
            text-decoration: underline;
          }
          &:visited {
            color: #735A9C;
          }
        }
      }
    }
  }
}

#primary, #secondary, footer {
  * {
    margin-left: 5px;
    margin-right: 5px;
  }
}

#primary, #secondary {
  h1, h2, h3, h4, h5, h6 {
    color: #513184;
    line-height: 1.2;
    font-weight: normal;
  }

  h1 {
    font-size: 1.5em;
    border-bottom: 1px solid #E9E3EF;
    padding-bottom: 5px;
  }

  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1.2em;
  }

  img {
    border: 1px solid #C8BBD7;
  }

  div {
    margin-left: 0;
    margin-right: 0;
  }
}

#primary {
  .float-left {
    img {
      width: 95%;
    }
  }

  .before-after {
    img {
      width: 44%;
    }
  }
}

#secondary {
  .box {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    background: #E5ECF9;
    @include border-radius(5px);
    @include clearfix;

    * {
      margin-left: 10px;
      margin-right: 10px;

      * {
        margin-left: 0;
        margin-right: 0;
      }
    }

    a {
      color: #60438E;
      &:hover {
        color: #513184;
      }
    }

    ul {
      list-style-type: none;
      padding-left: 0;

      li {
        margin-bottom: 1px;
      }
    }
  }

  .box.faq {
    background: #FEE1FA;

    dl {
      dt {
        font-weight: bold;
        text-decoration: underline;
        cursor: pointer;
        font-size: 0.9em;
        margin-top: 0.5em;
      }

      dd {
        font-size: 0.8em;
      }
    }
  }

  .box.prices {
    background: #D4CCE0;

    dl {
      dt {
        clear: both;
        float: left;
      }

      dd {
        text-align: right;
        border-bottom: 1px dotted #A898C1;
        margin-bottom: 5px;
      }
    }

    .expand-collapse {
      clear: both;
      font-weight: bold;
      text-decoration: underline;
      cursor: pointer;
      color: #745198;
      text-align: center;
    }
  }

  .box.treatments {
    background: #E9E3EF;
  }

  .box.gift-vouchers {
    background: #FCE0F8;
  }

  .box.products {
    background: #FFE3FC;

    .product {
      clear: both;

      img {
        width: 20%;
        float: left;
        margin-right: 10px;
        margin-bottom: 1em;
      }
    }
  }

  .box.find-us {
    background: #EFEAF9;
  }

  .box.gift-vouchers, .box.find-us {
    img {
      width: 30%;
      float: right;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 1em;
    }
  }
}

footer {
  clear: both;
  margin-top: 1.5em;
  border-top: 2px solid #BA94E5;
  padding-top: 0.5em;
  margin-bottom: 3em;
  color: #76539B;
  @include clearfix;

  .contact-details {
    margin-top: 1em;
  }
}

/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix {
  @include clearfix;
}

/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {
  header {
    p.title {
      font-size: 2em;
    }
  }

  #primary {
    .float-left {
      width: 50%;
      margin-right: 10px;
      margin-bottom: 10px;
      float: left;
    }

    .before-after {
      margin-bottom: 20px;
      @include clearfix;
    }
  }

  #secondary {
    clear: both;

    .box {
      width: 48%;
      float: left;
    }
  }
}

@media only screen and (min-width: 768px) {
  body {
    background-color: white;
  }

  header {
    p.title {
      font-size: 2.1em;
    }
  }

  #primary {
    width: 66%;
    float: left;
  }

  #secondary {
    clear: none;
    width: 33%;
    float: right;

    .box {
      width: 95%;
      float: none;
    }
  }

  footer {
    .awards {
      width: 50%;
      float: left;
    }

    .contact-details {
      margin-top: 0;
      width: 45%;
      float: right;
      text-align: right;
    }
  }

}



/* ==|== print styles ======================================================= */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
