.box.find-us
  %h2 How to find us
  %a(href='/contact')
    %img(src='/images/callouts/map.png' alt='')
  %p Visit us at Unit 10, Basepoint business centre, Winchester
  %p
    %a(href='/contact') contact details &gt;
