.box.find-us
  %h2 How to find us
  %a(href='/contact')
    %img(src='/images/callouts/map.png' alt='')
  %p Visit us at 37/39 Southgate Street in Winchester, near the Hotel Du Vin.
  %p
    %a(href='/contact') contact details &gt;
