.awards
  %img{:src => '/images/awards/aesthetic-medicine-awards-finalist.jpg',
    :alt => 'Aesthetic Medicine Awards Finalist 2009',
    :title => 'Aesthetic Medicine Awards Finalist 2009',
    :width => '145', :height => '75'}

  %img{:src => '/images/awards/aesthetic-medicine-awards-finalist-2011.jpg',
    :alt => 'Aesthetic Medicine Awards Finalist 2011',
    :title => 'Aesthetic Medicine Awards Finalist 2011',
    :width => '145', :height => '75'}

  %img{:src => '/images/awards/british-association-of-cosmetic-nurses.jpg',
    :alt => 'British Association of Cosmetic Nurses',
    :title => 'British Association of Cosmetic Nurses',
    :width => '144', :height => '75'}

  %img{:src => '/images/awards/verified-by-consulting-room.jpg',
    :alt => 'Verified by Consulting Room',
    :title => 'Verified by Consulting Room',
    :width => 145, :height => 51,
    :style => 'margin-top: 8px;'}

.contact-details
  37/39 Southgate Street, Winchester, SO23 9EH
  %br/
  = partial :'partials/email-address'
  %br/
  Call us today on 01962 840400
