.box.gift-vouchers
  %h2 Gift Vouchers
  %a(href='/gift-vouchers')
    %img(src='/images/gift-vouchers/gift-voucher-88.jpg' alt='Gift Vouchers')
  %p We offer gift vouchers on all our treatments and products.
  %p
    %a(href='/gift-vouchers') find out more &gt;
