%p.title The Medical Aesthetic Clinic

%nav
  %ul
    %li
      %a(href='/') Home
    %li
      %a(href='/treatments') Treatments
    %li
      %a(href='/products') Products
    %li
      %a(href='/about') About Us
    %li
      %a(href='/links') Links
    %li
      %a(href='/contact') Contact
