<iframe width="303" height="303" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=-1.30092,51.06481,-1.29422,51.06781&layer=mapnik&marker=51.06647,-1.29733"></iframe>
