.notice
  %p
    %strong.alert WE HAVE MOVED!
  %p
    We are now in a great new location:

  %p
    %strong
      Basepoint Business Centre
      %br
      Unit 10
      %br
      1 Winnall Valley Road
      %br
      Winchester SO23 0LD.

  %p Telephone: (as before) 01962 840400.
