- date = start_of_month(Date.today)
- special_offer = SpecialOffer.for_month(date.strftime('%B %Y'))

- return if special_offer.nil?
- return unless special_offer.key == current_page

.box.special-offer
  - if special_offer.large_image
    %img(src="#{special_offer.large_image}" alt='')
  %h2== #{date.strftime('%B')} Offer
  = special_offer.long_description_text(date.strftime('%B'), (date + 32).strftime('%B'))
