.box.faq
  %h2 Permanent hair reduction FAQ

  %dl
    %dt Who can be treated?
    %dd
      %p Dark hairs are most easily treated due to the large concentration of dark melanin in these, which gives maximum absorption and conversion of light energy to heat.

      %p Very fair hair has less melanin and consequently less head is produced, making it slightly less certain of permanent destruction of the hair follicles.

      %p Grey (or white) hair has almost no melanin and cannot be efficiently treated. The upper skin layer of the epidermis also contains melanin and the concentration increases when the skin is exposed to UV light.

      %p It is therefore necessary to treat dark-skinned and tanned individuals with less energy to avoid generation of head and pain in the skin. The Pulsar computer has pre-programmed treatment suggestions for different hair and pigment types.

    %dt Does it hurt?
    %dd
      %p The pain depends upon the concentration of melanin in the epidermis and the hairs combined, as the light energy is absorbed by the pigments (melanin and haemoglobin); consequently it hurts more in dark-skinned people and those with dense, dark hairs.

      %p No anaesthesia is required and most patients describe the pain as moderate and acceptable (as if a rubber band is snapped against the skin).

    %dt Does the patient need to shave prior to treatment?
    %dd
      %p Hairs should be 1 to 2mm long when the patient comes in for treatment so it is possible to mark out the treatment area. Long hairs take up the energy and prevent all of it reaching the hair follicle; therefore long hair is trimmed just before treatment for maximum transmission of energy.

      %p If the hair is normally shaved and can be seen when shaven then patients can shave right up to the day of treatment, although plucking and bleaching should not be done.

      %p Avoiding epilation and waxing 4 weeks before treatment ensures that as many follicles as possible contain a hair, and thus can be destroyed by the light.

    %dt Why do hairs 'grow' after treatment?
    %dd
      %p Contrary to other treatments, hairs are not vaporised by the Pulsar treatment. The hair follicles are killed by the heat, but the hairs remain in the skin and often become attached to the epidermis. They will fall out after 1 to 3 weeks as the epidermis is renewed. During this period it will seem that the hairs are growing as the epidermis pushes them out.

    %dt How can you tell if a treatment has worked?
    %dd
      %p After treatment the hairs are often loose within the follicle and can easily be pulled out with tweezers. A red ring around each follicle is often seen a few minutes after treatment. These two things are good indications that sufficient heating of the follicles has taken place. Unfortunately they are not always seen, but we have seen many patients with successful treatment results without the post-treatment signs.

    %dt What are the side-effects?
    %dd
      %p The visible light is completely safe so no special precautions are needed apart from glasses for the brightness. The skin of some patients becomes quite red immediately after treatment and very rarely small blisters (as from excessive sun exposure) can occur. However, most patients experience no side-effects at all and the described skin reactions above usually disappear within hours to a few days.

      %p Unlike electrolysis, the Pulsar treatment is non-invasive.

    %dt How many treatments are necessary?
    %dd
      %p Only hair in the growth phase (anagen) can be treated. The number of hairs in this phase varies from 10% to 70% depending on the body site. The lengths of the growth cycles also vary. For most patients four to six treatments with two to three months interval are sufficient to remove virtually all hairs.

      %p After the first treatment most patients get a significant reduction in hair density, and new grown hairs tend to become finer.

      %p It is important to know that the first treatment is believed to synchronise the anagen (growth) phase of the non-anagen hairs. This may seem to be re-growth but is actually just the sleeping hairs starting to grow at the same time (new growth). This in turn makes the next treatment(s) more effective.

    %dt How do I prepare for treatment?
    %dd
      %p Patients should avoid tanning one month ahead and during the entire treatment scenario to avoid excessive discomfort from excessive light absorption in the epidermis.

      %p On treatment day, please do not use deodorant, perfumed or aromatherapy products.

      %p Immediately after the treatment the skin is particularly sensitive to UV light and strong sunlight should be avoided for 4-5 days.

    %dt How long does treatment take?
    %dd
      %p The facial treatment usually takes 10 minutes, whereas both legs and an entire back take approximately 1&frac12; to 2 hours.

    %dt Is it permanent?
    %dd
      %p Most authorities would agree that using current laser and light technology it is possible to permanently remove hair. Histology studies have found destroyed and de-natured hair follicle cells post treatment.
