- @page_title = "About The Medical Aesthetic Clinic"

#primary
  %h1 About us
  %h2 The Practitioner

  .float.left
    %img(src='/images/cathy.jpg' alt='Cathy Wallwork RGN')

  %p Cathy Wallwork is a registered General Nurse. After graduating from St. Bartholomew's Hospital, London in 1984, Cathy specialised as a surgical nurse practising both abroad and in the UK where she worked as a Theatre Sister. During this time Cathy developed an interest in the aesthetic surgical area and this specialisation has led her to develop her own practice in the medico-beauty field. She is fully trained and professionally qualified.

  .clear

  %p Cathy was instrumental in setting up the initial steering committee for the Aesthetic Nurses Forum at the Royal College of Nursing. She also helped develop the current competencies for aesthetic nurses. She is also a consultant trainer for Q-Med UK.

  %p Cathy's aim is to bring her high standards of hygiene, care, skill and experience to those wishing to benefit from such cosmetic improvements as she offers.

  %p
    In today's demanding world, self-esteem and confidence in one's appearance can be so important. To find out more or to book an appointment,
    %a(href='/contact') contact Cathy
    for confidential advice and treatment in a caring and professional environment.

#secondary
  = partial :'partials/gift-vouchers'
  = partial :'partials/treatments/list'
  = partial :'partials/find-us'
