- @page_title = "Gift vouchers available at The Medical Aesthetic Clinic in Winchester"

#primary
  %h1 Gift vouchers

  .float.left
    %img(src='/images/gift-vouchers/bowtie-303.jpg' alt='It is festive time!')
    %br
    %br
    %img(src='/images/gift-vouchers/gift-voucher-303.jpg' alt='Gift voucher')

  %p We offer gift vouchers on all our treatments and products.
  %p Gift vouchers make ideal presents for friends and loved ones, to celebrate birthdays, mothers day, fathers day, an engagement, wedding or anniversary.

  %p
    Please ask at reception on your next visit, or
    %a(href='/contact') contact us
    for more information.

  %p
    %br
    = partial :'partials/find-us'

#secondary
  = partial :'partials/treatments/list'
  = partial :'partials/products/list'
