.box.products
  %h2 Products available
  .product
    %a(href='/products/jan-marini')
      %img(src='/images/products/jan-marini/range-53.jpg' alt='Jan Marini skin research')
    %p
      %a(href='/products/jan-marini') Jan Marini skin research

  .product
    %a(href='/products/sesha')
      %img(src='/images/products/sesha/range-53.jpg' alt='Sesha skin therapy')
    %p
      %a(href='/products/sesha') Sesha skin therapy

  .product
    %a(href='/products/jane-iredale')
      %img(src='/images/products/jane-iredale/range-53.jpg' alt='Jane Iredale mineral make up')
    %p
      %a(href='/products/jane-iredale') Jane Iredale mineral make up

  .product
    %a(href='/products/is-clinical')
      %img(src='/images/products/is-clinical/range-53.jpg' alt='iS CLINICAL&reg;')
    %p
      %a(href='/products/is-clinical') iS CLINICAL&reg;
