.box.faq
  %h2 Dermal Fillers FAQ

  %dl
    %dt What is Restylane?
    %dd
      %p Restylane is hyaluronic acid in the form of a stabilised crystal gel, formulated to be injected into the skin to lift up the tissue in a line, wrinkle or fold. Hyaluronic acid is naturally found in the body. As we age its volume is depleted in the skin, leaving wrinkles and other signs of aging. As it is not extracted from animals, it is not necessary to perform pre-testing.

    %dt What is Juv&eacute;derm?
    %dd
      %p Juv&eacute;derm is a new generation of dermal fillers: a natural biodegradable gel that flows easily into your skin, instantly filling out troublesome lines and leaving a smooth and natural look and feel.

    %dt How do fillers work?
    %dd
      %p Once injected under the wrinkle or fold, the filler gently lifts the tissue, reducing its appearance. Used in the lips it gives volume and definition.

    %dt How long do the effects last?
    %dd
      %p It depends on the individual. As fillers are natural products, they will slowly be broken down naturally by the body. The majority of patients treated with Restylane have been shown to have 50% &ndash; 80% of the effect remaining after 6 months.

    %dt Are there any side-effects?
    %dd
      %p As with any treatment that requires injection, there may be some passing discomfort and patients may experience some redness or swelling immediately after the treatment. There may also be some localised tenderness. This is normal and will generally disappear in a day or two. Some people may experience a little bruising. Again, this will be temporary and can be covered with a light camouflage make-up.
      
      %p Other types of reaction are uncommon, but about 1 in 2,000 persons have experienced transient swelling, redness and tenderness at or near the treatment site up to several weeks after treatment.
