- @page_title = "Red vein treatment at The Medical Aesthetic Clinic in Winchester"

#primary
  %h1 Red vein treatment

  = partial :'partials/special-offer', locals: {current_page: 'diathermy', type: 'primary'}

  %p
    Facial thread veins and skin tags on the body can now be removed with
    %strong short wave diathermy.

  %p A minute needle is inserted into the blemish (as in thread veins) to disperse the contents and destroy the tissue by thermolysis (heat). A skin tag is removed with the needle and the area will become slightly crusty as the area blackens.

  %p This technique is very effective and is widely used. Sometimes additional treatments are needed.

#secondary
  = partial :'partials/treatments/shared/prices', locals: {treatment: 'diathermy'}
  = partial :'partials/treatments/list'
