- @page_title = "Jan Marini facials at The Medical Aesthetic Clinic in Winchester"

#primary
  %h1 Jan Marini facials

  = partial :'partials/special-offer', locals: {current_page: 'jan-marini-facials', type: 'primary'}

  .float.right
    %img(src='/images/treatments/jan-marini-facials/jan-marini-facials-303.jpg' alt='Jan Marini facials')

  %p We offer a number of Jan Marini facials for those who require something a little more gentle than our Fire and Ice facial. The award-winning Jan Marini product range incorporates over 70 items to address a host of skin concerns, such as ageing and sun damage, to acne and skin discolouration.

  %p Jan Marini products are known as cosmeceuticals and can not be found in high street stores.

  %p
    You can buy
    %a(href='/products/jan-marini') Jan Marini products
    at the Clinic.

#secondary
  = partial :'partials/treatments/list'
  = partial :'partials/special-offer', locals: {current_page: 'jan-marini-facials', type: 'secondary'}
  = partial :'partials/find-us'
