- prices = YAML::load_file(File.dirname(__FILE__) + '/../../../../lib/prices.yml')['wrinkle-relaxing-injections']

.box.prices
  %h2 Price guide
  = partial :'partials/treatments/prices', locals: {prices: prices}
