.box.treatments.clearfix
  %h2 Treatments available

  %ul
    %li
      %a(href='/treatments/ipl-permanent-hair-reduction') Permanent hair reduction
    %li
      %a(href='/treatments/dermaroller') Dermaroller
    %li
      %a(href='/treatments/wrinkle-relaxing-injections') Wrinkle relaxing injections
    %li
      %a(href='/treatments/dermal-fillers') Dermal fillers

  %ul
    %li
      %a(href='/treatments/sclerotherapy') Sclerotherapy
    %li
      %a(href='/treatments/microdermabrasion') Microdermabrasion
    %li
      %a(href='/treatments/diathermy') Diathermy
    %li
      %a(href='/treatments/semi-permanent-cosmetics') Semi-permanent cosmetics
