.box.treatments.clearfix
  %h2 Treatments available

  %ul
    %li
      %a(href='/treatments/ipl-permanent-hair-reduction') Permanent hair reduction
    %li
      %a(href='/treatments/dermaroller') Dermaroller
    %li
      %a(href='/treatments/wrinkle-relaxing-injections') Wrinkle relaxing injections
    %li
      %a(href='/treatments/dermal-fillers') Dermal fillers
    %li
      %a(href='/treatments/sclerotherapy') Sclerotherapy

  %ul
    %li
      %a(href='/treatments/microdermabrasion') Microdermabrasion
    %li
      %a(href='/treatments/diathermy') Red vein treatment
    %li
      %a(href='/treatments/semi-permanent-cosmetics') Semi-permanent cosmetics
    %li
      %a(href='/treatments/fire-and-ice') Fire and Ice
    %li
      %a(href='/treatments/jan-marini-facials') Jan Marini facials
