%dl
  - if prices.size < 10
    = partial :'partials/treatments/price', collection: prices

  - else
    = partial :'partials/treatments/price', collection: prices[0..4]

    .all_other_prices
      = partial :'partials/treatments/price', collection: prices[5..-1]

  .expand-collapse(style='display:none;') view all
