.box.faq
  %h2 Leg vein treatment FAQ

  %dl
    %dt How does it work?
    %dd
      %p This is a technique that has been used widely for many years and involves the introduction of a small amount of anaesthetic-like agent into the vein, causing the lining of the vein to become irritated and the walls to collapse. The vein will eventually shrivel and disappear.

    %dt Does it hurt?
    %dd
      %p Some people report a slight, but temporary discomfort, sometimes described as a mild burning sensation that lasts for a few seconds.

    %dt How many treatments will I need?
    %dd
      %p Usually two or more treatments are required, spaced 4 to 6 weeks apart, but you will experience some improvement after the first session. Some redness and swelling may appear initially which will fade. Some areas may require several injections to achieve optimum results.

    %dt Are there any side-effects?
    %dd
      %p Sometimes people experience slight swelling, pigmentation or bruising, but this will fade. You should avoid alcohol, vigorous exercise and hot baths for 48 hours and it is recommended that you wear tubigrip for 24 hours post treatment.
