- @page_title = "iS CLINICAL&reg; available at The Medical Aesthetic Clinic in Winchester"

#primary
  %h1 iS CLINICAL&reg;
  %p by INNOVATIVE SKINCARE&reg;

  = partial :'partials/special-offer', locals: {current_page: 'is-clinical', type: 'primary'}

  .float.left
    %img(src='/images/products/is-clinical/is-clinical-range-303.jpg' alt='Range of iS CLINICAL&reg; products')

  %p INNOVATIVE SKINCARE&reg; is dedicated to developing clinically validated skincare products that improve the physical and emotional well-being of people globally, employing the highest ethical standards to advance the science of skin health, one face at a time.

  %p iS CLINICAL&reg;, the exclusive skincare brand from INNOVATIVE SKINCARE&reg;, is comprised of exceptional, long-term "results-oriented" anti-aging and optimizing skincare formulations.

  %p By developing and utilizing the most advanced research technology, INNOVATIVE SKINCARE&reg; doctors and scientists meticulously design and create products that conclusively deliver rapid and safe, long-term, positive results.

  %p
    Also available:
    %a(href='/treatments/fire-and-ice') Fire and Ice
    clinical facial treatment.

#secondary
  = partial :'partials/special-offer', locals: {current_page: 'is-clinical', type: 'secondary'}
  = partial :'partials/find-us'
  = partial :'partials/products/list'
