- @page_title = "Sesha skin therapy available at The Medical Aesthetic Clinic in Winchester"

#primary
  %h1 Sesha skin therapy

  = partial :'partials/special-offer', locals: {current_page: 'sesha', type: 'primary'}

  .float.left
    %img(src='/images/products/sesha/sesha-range-303.jpg' alt='Range of SESHA products')

  %p SESHA skin therapy is a science-based skincare program dedicated to revealing beautiful skin by feeding and nourishing it.

  %p Using PET&trade;, our revolutionary and FDA-accredited delivery system, we deliver optimal concentrations of pharmaceutical grade antioxidants, botanicals, and vitamins where they are needed most - below the skin's surface.

  %p
    More information can be found at
    %a(href='http://www.seshaskin.com/') www.seshaskin.com

#secondary
  = partial :'partials/find-us'
  = partial :'partials/products/list'
